#arrow-movement {
  animation: down linear infinite 2s;
}

@keyframes down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
